@switch(level) {
  @case(1) {
    <h1 class="text-2xl">
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </h1>
  }
  @case(2) {
    <h2 class="text-xl">
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </h2>
  }
  @case(3) {
    <h3 class="text-lg">
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </h3>
  }
  @case(4) {
    <h4>
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </h4>
  }
  @case(5) {
    <h5>
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </h5>
  }
  @case(6) {
    <h6>
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </h6>
  }
  @default {
    <ng-container *ngTemplateOutlet="content"></ng-container>
  }
}

<ng-template #content>
  <ng-content></ng-content>
</ng-template>
