<div class="flex">
  <db-heading [level]="2" class="mb-4 grow">
    @if (panel()?.icon) {
      <db-icon [icon]="panel()?.icon" class="align-middle mr-2 text-red-500"></db-icon>
    }
    <span class="align-middle">{{ panel()?.label }}</span>

  </db-heading>
  <db-button class="flex-none" (click)="remove()" type="blank">
    <db-icon icon="trash"></db-icon>
  </db-button>
  <db-button class="flex-none" (click)="edit()" type="blank">
    <db-icon icon="pen-to-square"></db-icon>
  </db-button>
</div>
<db-link-list-editor [links]="panel()?.links || []"></db-link-list-editor>
