<db-container class="my-24">

  <!-- TODO set up form -->
  <form class="max-w-md mx-auto">

    <div class="mx-4 my-2">
      <label for="username">Username *</label><br>
      <input id="username" name="username" type="text" class="text-zinc-950" [(ngModel)]="model.name" required />
    </div>

    <div class="mx-4 my-2">
      <button class="bg-red-500 px-4 py-1" type="button" (click)="resetPassword()">
        Reset password
      </button>
    </div>

    <div class="mx-4 my-2">
      <label for="code">Confirmation code *</label><br>
      <input id="code" name="code" type="text" class="text-zinc-950" [(ngModel)]="model.confirmationCode" required />
    </div>

    <div class="mx-4 my-2">
      <label for="password">New password *</label><br>
      <input id="password" name="password" type="password" class="text-zinc-950" [(ngModel)]="model.password" required />
    </div>

    <div class="mx-4 my-2">
      <button class="bg-red-500 px-4 py-1" type="button" (click)="confirmResetPassword()">
        Confirm
      </button>
    </div>

  </form>

</db-container>
