<div class="m-4">
  <db-button type="blank" (click)="navigateBack()">
    <db-icon icon="arrow-left"></db-icon>
  </db-button>
</div>

<db-container class="my-24 max-w-xs">

  <!-- TODO set up form -->
  <form>

    <db-input label="Username" name="username" [(model)]="model.name" [required]="true"></db-input>

    <div class="flex justify-end my-4">
      <db-button (click)="resetPassword()">
        Reset password
      </db-button>
    </div>

    <db-input label="Confirmation code" name="code" [(model)]="model.confirmationCode" [required]="true"></db-input>
    <db-input label="Password" name="password" [(model)]="model.password" [required]="true" type="password"></db-input>

    <div class="flex justify-end my-4">
      <db-button (click)="confirmResetPassword()">
        Confirm
      </db-button>
    </div>

  </form>

</db-container>
