<db-container class="my-24">

  <db-button type="blank" class="mx-0" (click)="navigateBack()">
    <db-icon icon="arrow-left"></db-icon>
  </db-button>

  @for (item of dashboard?.top; track item.uuid) {
    <db-link-editor
      [link]="item"
      (linkChange)="onLinkSaved($event)"
      (linkRemove)="onLinkRemoved($event)">
    </db-link-editor>
  }

  @for (panel of dashboard?.panels; track panel.uuid) {
    <db-panel class="my-2">
      <db-heading [level]="2">
        @if (panel.icon) {
          <db-icon [icon]="panel.icon" class="align-middle mr-2 text-red-500"></db-icon>
        }
        <span class="align-middle">{{ panel.label }}</span>
      </db-heading>
      @for (link of panel.links; track link.uuid) {
        <db-link-editor
          [link]="link"
          (linkChange)="onLinkSaved($event)"
          (linkRemove)="onLinkRemoved($event)">
        </db-link-editor>
      }
    </db-panel>
  }

</db-container>
