<div class="m-4">
  <db-button type="blank" (click)="navigateBack()">
    <db-icon icon="arrow-left"></db-icon>
  </db-button>
</div>

<db-container class="mt-4 mb-24">

  <db-heading class="my-16">Top Area</db-heading>

  @for (item of dashboard?.top; track item.uuid) {
    <db-link-editor
      [link]="item"
      (linkChange)="onLinkSaved($event)"
      (linkRemove)="onLinkRemoved($event)">
    </db-link-editor>
  }

  <div class="flex justify-end mt-8">
    <db-button>New Link</db-button>
  </div>

  <db-heading class="my-16">Panels</db-heading>

  @for (panel of dashboard?.panels; track panel.uuid) {
    <db-panel class="my-4">
      <db-heading [level]="2" class="mb-4">
        @if (panel.icon) {
          <db-icon [icon]="panel.icon" class="align-middle mr-2 text-red-500"></db-icon>
        }
        <span class="align-middle">{{ panel.label }}</span>
      </db-heading>
      @for (link of panel.links; track link.uuid) {
        <db-link-editor
          [link]="link"
          (linkChange)="onLinkSaved($event)"
          (linkRemove)="onLinkRemoved($event)">
        </db-link-editor>
      }
      <div class="flex justify-end my-8">
        <db-button>New Link</db-button>
      </div>
    </db-panel>
  }

  <div class="flex justify-end mt-8">
    <db-button>New Panel</db-button>
  </div>

</db-container>
