<div class="m-4">
  <db-button type="blank" (click)="navigateBack()">
    <db-icon icon="arrow-left"></db-icon>
  </db-button>
</div>

<db-container class="mt-4 mb-24">

  <db-heading class="my-16">Top Area</db-heading>

  <db-link-list-editor [links]="dashboard?.top || []"></db-link-list-editor>

  <db-heading class="my-16">Panels</db-heading>

  @for (panel of dashboard?.panels; track panel.uuid) {
    <db-panel class="my-4">
      <db-panel-editor [panel]="panel"></db-panel-editor>
    </db-panel>
  }

  <div class="flex justify-end mt-8">
    <db-button (click)="addPanel()">New Panel</db-button>
  </div>

</db-container>
