<app-container class="my-24">

  <div class="flex justify-between max-w-md mx-auto" *ngIf="currentUser; else showLoginForm">
    <div>
      <app-icon icon="user" class="text-red-500 text-4xl"></app-icon>
      {{ currentUser }}
    </div>
    <div class="mx-4 my-2">
      <button class="bg-zinc-700 px-4 py-1" type="button" (click)="logOut()">
        Log out
      </button>
    </div>
  </div>

  <ng-template #showLoginForm>

    <!-- TODO set up form -->
    <form class="max-w-md mx-auto">

      <div class="mx-4 my-2">
        <label for="username">Username *</label><br>
        <input id="username" type="text" class="text-zinc-950" [(ngModel)]="loginModel.name" required />
      </div>

      <div class="mx-4 my-2">
        <label for="password">Password *</label><br>
        <input id="password" type="password" class="text-zinc-950" [(ngModel)]="loginModel.password" required />
      </div>

      <div class="mx-4 my-2">
        <button class="bg-red-500 px-4 py-1" type="button" (click)="logIn()">
          Log in
        </button>
        <button type="button" routerLink="/reset-password">
          Reset password
        </button>
      </div>

    </form>
  </ng-template>

</app-container>
